* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0f1a;
  color: #e5e7eb;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(11, 15, 26, 0.95);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 100;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 10%;
}
.hero-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 50px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}



.hero-text {
  max-width: 600px;
}

.hero-text h1 span {
  color: #38bdf8;
}

.typed-cursor {
  display: none;
  width: 2px;
  margin-left: 2px;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.btn {
  padding: 10px 25px;
  background: #38bdf8;
  color: #020617;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
}

.btn.outline {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
}

.section.dark {
  background: #020617;
}

.section-title {
  
  font-size: 32px;
  margin-bottom: 30px;
  color: #38bdf8;
}

/* GRID & CARDS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #0f172a;
  min-height: 105px;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(56, 189, 248, 0.2);
}

/* TIMELINE */
.timeline-item {
  margin-bottom: 40px;
}

.timeline-item h3 {
  color: #38bdf8;
}

footer {
  padding: 30px;
  text-align: center;
  opacity: 0.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 120px 10%;
  }

  .hero-img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .hero-text {
    max-width: 100%;
  }

  .navbar {
    padding: 15px 20px;
  }

  .navbar ul {
    gap: 15px;
  }

  .section {
    padding: 60px 5%;
  }
}
